<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Public/css/bundle.css">

    <title>@ViewData["Title"]</title>
</head>
<body>

<div class="container">
    @RenderBody()
</div>


<script src="~/Public/js/bundle.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>